# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.iws
/.idea/workspace.xml



# gradle
build
.gradle

# other
eclipse
run
*.txt
classes
.github_changelog_generator
libs
src/api
.floo
.flooignore
docs