/gradle.properties
# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.txt
classes
.github_changelog_generator
libs
src/api
.floo
.flooignore
docs